* { 
	margin: 0;
	border: 0;
	padding: 0;
}
body {
	background: PapayaWhip;
	font: 14px/20px Arial, San-Serif;
	color:#555;
	margin: 0;
}
h1 {
	text-align: center;
	font-size: 180%;
	line-height: 120%;
	padding: 5% 0;
}
h2 {
	text-decoration: underline;
	line-height: 280%;
	padding-left: 2%;
}
h3 {
	line-height: 110%;
	padding: 5% 0;
}
p {
	padding: 1%
}

img {
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto;
}
a{
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #FFF
	text-decoration: underline;
}
header {
	background: #800;
	width: 100%;
	height: 86px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity:0.90;
}
#logo {
	margin: 20px;
	float: left;
	width: 200px;
	height: 60px;
	background: url(https://cdn0.iconfinder.com/data/icons/typicons-2/24/tree-64.png) no-repeat center;
}
#logo2 {
	margin: -5px;
	position: absolute;
	left: 160px;
	transform: scale(0.80, 0.80);
	width: 250px;
	height: 100px;
	background: url(https://i.imgsafe.org/95b77dea57.jpg);
	opacity: 0.90;
}
nav {
	float: right;
	padding: 35px 20px 20px 0;
}
#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/Grid-48.png) center;
}
a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}
ul {
	list-style: none;
}
nav ul li {
	display: inline-block;
	float: left;
	padding: 10px;
}
.current {
	color: #FFF;
	text-decoration: underline;
}
#doc {
	margin:40px 0;
}
#content {
	margin: 0 auto;
	max-width:1140px;
}
.blueberry {
	max-width:960px;
	margin-top: 110px;
}
section {
	width: 29%;
	float: left;
	margin: 2% 2%;
	text-align: center;
}
.clear {
	clear: both;
}
article {
	float: left;
	margin: 0 auto;
	width: 50%;
	height: auto;
	padding: 4%;
}
aside {
	float: right;
	margin: 0 auto;
	width: 35%;
	height: auto;
	padding: 3%;
}
ul.gym li {
	padding-left: 3%;
}
footer {
	background: #333333;
	width: 100%;
	overflow: hidden;
	opacity: 0.90;
}
footer p, footer h3 {
	color: #FFF;
}
b{
	font-size:30px;
	color: #eef203;
}
footer p a {
	color: #FFF;
	text-decoration: none;
}


/*-----------------------------SLIDER!!!-------------------*/
.blueberry { margin: 0 auto; }
.blueberry .slides {
	display: block;
	position: relative;
	overflow: hidden;
	padding-bottom: 75px;
}
.blueberry .slides li {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.blueberry .slides li img {
	display: block;
	width: 100%;
	max-width: none;
	padding-top: 40px;
}
.blueberry .slides li.active { display: block; position: relative; }
.blueberry .crop li img { width: auto; }

.blueberry .pager {
	height: 40px;
	text-align: center;
}
.blueberry .pager li { display: inline-block; }
.blueberry .pager li a,
.blueberry .pager li a span {
	display: block;
	height: 4px;
	width: 4px;
}
.blueberry .pager li a {
	padding: 18px 8px;
-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
	border-radius: 6px;
}
.blueberry .pager li a span {
	overflow: hidden;
	background: #c0c0c0;
	text-indent: -9999px;
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
	border-radius: 2px;
}
.blueberry .pager li.active a span { background: #404040; }

/*--------------------------------MEDIA!!!-----------------------*/
@media screen and (max-width: 478px) {
	body {
		position: absolute;
	}
}
@media screen and (max-width: 478px) {
	header {
		position: absolute;
	}
	#menu-icon {
		display: inline-block;
	}
	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
		background: #405580;
		border: 1px solid #FFF;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 2px 0 2px 2px;
	}
}
/*-----------------NAV-----------------------*/
.open {
  position: fixed;
  top: 20px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.open:hover { opacity: 0.8; }

.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #fff;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}

.open span:nth-child(2) { margin-top: 25px; }

.open span:nth-child(3) { margin-top: 40px; }

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(38, 84, 133, 0.54);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}

.sub-menu li {
  display:block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child { margin-top: 180px; }

.sub-menu li:nth-child(1) { -webkit-transition-delay: 0.05s; }

.sub-menu li:nth-child(2) { -webkit-transition-delay: 0.10s; }

.sub-menu li:nth-child(3) { -webkit-transition-delay: 0.15s; }

.sub-menu li:nth-child(4) { -webkit-transition-delay: 0.20s; }

.sub-menu li:nth-child(5) { -webkit-transition-delay: 0.25s; }

.sub-menu li a {
  color: #000;
  background-color: rgba(38, 84, 133, 0);
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 100%;
  display:block;
  float: left;
  line-height: 32px;

}

.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}

.oppenned span:nth-child(2) { overflow: visible; }

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}

.oppenned span:nth-child(1) { transform: rotate(45deg) translateY(12px) translateX(12px); }

.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(100, 0, 100, 0.90);
}

.oppenned span:nth-child(3) { transform: rotate(-45deg) translateY(-10px) translateX(10px); }

.oppenned li { margin-right: 168px; }