* {
    box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
}
body{
background: linear-gradient(#1B3F8B, #8B8989, #380474);
width: 100%;
height: 100%;
font: 14px/20px Arial, San-Serif;
margin:7%;
line-height:30px;
padding:1%;
}

table {
margin:10%;
position: absolute;
top:80px;
left: 8px;
float: left;
color:#fff;
border:1px solid black;
background-image:url(https://i.imgsafe.org/e6fd822662.jpg);
width: 50%;
}
th,td,tr{
color:#fff;
border:1px solid black;
font-size:1em;
height:50px;
width: 95px;
border-collapse: collapse;

}
.clinton{
background: rgba(0, 0, 100, 0.7);
}
.trump{
background: rgba(100, 0, 0, 0.7);
}
.johnson{
background: rgba(100, 100, 0, 0.7);
}
.stein{
background: rgba(0, 100, 0, 0.7);
}
.other{
background: rgba(100, 100, 100, 0.7);
}
.button1{
background: rgba(0, 0, 20, 1.0);
width: 100%;
height:80%;
}
.button2{
background: rgba(20, 0, 0, 1.0);
width: 100%;
height:80%;
}
.button3{
background: rgba(20, 20, 0, 1.0);
width: 100%;
height:80%;
}
.button4{
background: rgba(0, 50, 0, 1.0);
width: 100%;
height:80%;
}
.button5{
background: rgba(25, 25, 25 1.0);
width: 100%;
height:80%;
}
#buttonn{
float: left;
width:150px;
height:150px;
border-radius: 180px;
border-color:black;
font-size:1em;
color:#000;
background-color: #757575;
margin-left: 50px;
margin-right: 50px;
margin-top:50px;
}
#side {
position: relative;
float: left;
width: 50%;
font-size: 1.5em;
color:#000;
text-align: left;
}
#scoreboard{
position: absolute;
bottom:30px;
left: 90px;
float: left;
color:#000;
border:1px solid black;
background-image:url(https://i.imgsafe.org/6533bc064f.jpg);
width:50%;
font-size:2em;
margin:5%;
}

footer {
	background: #333333;
	width: 100%;
	height:50px;
	overflow: hidden;
	opacity: 0.90;
	position: fixed;
	bottom: 0;
	left: 0;
}
footer p, footer h3 {
	color: #FFF;
}
b{
	font-size:30px;
	color: #eef203;
}
footer p a {
	color: #FFF;
	text-decoration: none;
}
a{
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #FFF;
	text-decoration: underline;
}
header {
	background: rgba(8,0,0,0.1);
	width: 100%;
	height: 86px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity:0.90;
}
nav {
	float: right;
	padding: 35px 20px 20px 0;
}

ul {
	list-style: none;
}
nav ul li {
	display: inline-block;
	float: left;
	padding: 10px;
}
.current {
	color: #FFF;
	text-decoration: underline;
}
