* {
    box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
}
body{
background: linear-gradient(#F64D54, #8B008B, #71637D);
width: 100%;
height: 100%;
font: 14px/20px Arial, San-Serif;
margin: 7%;

}
p  {
	color: #55f34f;
}
h1   {
	color: #3338cc;
}
h2 {
	color:Burlywood;
}
h3 {
	color:PapayaWhip;
	font-size:2em;
}
/*------------------------------Match Game!----------------------*/
div#memory_board{
	background:url(https://i.imgsafe.org/1ec7247c57.jpg);
	border:#999 3px solid;
	width:90%;	
	height:500px;
}
div#memory_board > div{
	background-color:red;
	border:#000 3px solid;
	float: left;
	margin: 3.5%;
	width:50px;
	height:50px;
	cursor:pointer;
	position: relative;
}
div > img{
width:50px;
height:50px;
}	
footer {
	background: #333333;
	width: 100%;
	height:50px;
	overflow: hidden;
	opacity: 0.90;
	position: fixed;
	bottom: 0;
	left: 0;
}
footer p, footer h3 {
	color: #FFF;
}
b{
	font-size:30px;
	color: #eef203;
}
footer p a {
	color: #FFF;
	text-decoration: none;
}
a{
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #FFF;
	text-decoration: underline;
}
header {
	background: rgba(8,0,0,0.1);
	width: 100%;
	height: 86px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity:0.90;
}
nav {
	float: right;
	padding: 35px 20px 20px 0;
}

ul {
	list-style: none;
}
nav ul li {
	display: inline-block;
	float: left;
	padding: 10px;
}
.current {
	color: #FFF;
	text-decoration: underline;
}
