
body{
	background: linear-gradient(#339966, #669933, #993366);
	margin:1%;
	padding:1%;
	border:solid black 2px;
}

#instruct {
	background-color: #000;
}
.cat {
	font-size: 20px;
}

#rules {
	color: #8af;
	font-size: 2em;
	text-align: left;
}

#yin{
	background-color: #111999;
}
#yang{
	background-color:#999111;
}
#correct{
	background-color: #fff;	
	font-size: 2em;
}
#wrong {
	background-color: #fff;
	font-size: 2em;
}
button {
	border: solid white 2px;
	border-radius: 25px;
}
.button2, .button1, .button0{
	background-color: silver;
}


.button3 {
	background-color: silver;
}
#home {
background-color:#000;
color:#fff;
font-size: 2em;
position:relative;
float: right;
}