@charset "utf-8";
/* CSS Document */
*,*:after {
  box-sizing: border-box;
	
}

body {
	background-color: rgba(98, 11, 29, 1.0);
  background-image: linear-gradient(to right,
	  rgba(0, 0, 0, .7) 1%,
      rgba(0, 0, 0, .8) 25%,
      rgba(0, 0, 0, .9) 50%);
font-family: 'Courier New', monospace;
	color:white;
	text-align:center;
	
}
#container{
	width:100%;
	display:grid;
	height:auto;
}

#line{
	background-color:rgba(0,0,0, 0.0);
	opacity:0.7;
	
	
	
}

.lifelines{
  width: 18%;
  padding:10px;
font-size:20px;
	text-align:center;
	border:2px solid black;
	border-radius:360px;
	box-shadow: 2px 2px 30px 10px black;
	
	  background-color: rgbargba(33, 5, 57, 0.87);
  background-image: linear-gradient(to right,
	  rgba(0, 0, 0, .1) 1%,
      rgba(0, 0, 0, .9) 25%,
      rgba(0, 0, 0, .1) 50%);
	color:white;
	text-shadow:2px 2px 1px black;
}





#displayScore {
	width:33%;
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
	text-align:center;
	background-color:indigo;
	font-size:30px;
	color:#ffffff;
	border:2px dotted white;
}
#displayTime {
	width:33%;
	text-align:center;
	background-color:gold;
	font-size:30px;
	color:#000000;
	border:2px dotted white;
}
#displayName {
	width:100%;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	
	display:block;
	background-color:maroon;
	font-size:30px;
	color:#ffffff;
	border:2px dotted white;
	
}


#instruct{
display:flex;	

opacity:0.3;
border:1px solid white;
font-size:20px;
justify-content:center;
align-items:center;
margin-bottom:20px;
	
}
#quiz{
	font-size:8px;
}

		



#scoreBoard{
	width:67%;
	margin-left:auto;
	margin-right:auto;
	background-color:darkslategrey;
	font-size:30px;
	border:3px dotted maroon;
	justify-content:center;
align-items:center;
	text-align:center;
	float:left;
	
}
/* .mainButtons {
	padding:10px;
	background-color:#77bd2a;
	border: 4px solid black;
	border-radius:175px;
	width:25%;
	font-size:28px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	display:block;
	margin-top:50px;
} */

#question{
	font-weight: 900;
	width:100%;
	justify-content: center;
	padding-top:25px;	
}
.choice, .choice2 {
	background-color: rgba(98, 11, 29, 0.87);
  background-image: linear-gradient(to right,
	  rgba(0, 0, 0, .9) 1%,
      rgba(0, 0, 0, .1) 25%,
      rgba(0, 0, 0, .9) 50%);
	opacity:0.9;
	vertical-align: top;
	border:2px solid rgba(178, 0, 35, 0.74);
	box-shadow: 2px 2px 30px 10px black;
	margin-top :10px;
	font-size:20px;
	cursor:grab;
	width:90%;
	height:90px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	text-align:center;
	justify-content:center;
align-items:center;
}
#choices{
	display:inline-block;
	background: black;
	cursor:grab;
	opacity:0.8;
	width:50%;
	margin-top:25px;
}
#right {
	background-color: rgba(29, 125, 8, 0.74);
}
#wrong {
	background-color: rgba(125, 8, 32, 0.74);
}



.title {
  color: white;
	float:left;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	text-shadow:4px 2px 9px red;
	font-weight:1000;
	text-align:center;
	font-size:35px;
}

.view_port {
  background-color: black;
height:100px;
  width: 100%;
  overflow: hidden;
  margin-left:auto;
  margin-right:auto;
border:1px solid white;
	
}

.cylon_eye {
  background-color: rgba(7,99,200,0.9);
  background-image: linear-gradient(to right,
	  rgba(0, 0, 0, .9) 1%,
      rgba(0, 0, 0, .1) 25%,
      rgba(0, 0, 0, .9) 50%);
  height: 100%;
  width: 90%;

  -webkit-animation: 3s linear 0s infinite alternate move_eye;
          animation: 3s linear 0s infinite  move_eye;
}

@-webkit-keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
        @keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }


.title2 {
  color: white;
	float:left;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	text-shadow:4px 2px 9px red;
	font-weight:1000;
	text-align:center;
	font-size:20px;
}

.view_port2 {
  background-color: black;
height:150px;
  width: 100%;
  overflow: hidden;
  margin-left:auto;
  margin-right:auto;
border:1px solid white;
}


.cylon_eye2 {
  background-color: rgba(7,99,200,0.9);
  background-image: linear-gradient(to right,
	  rgba(0, 0, 0, .9) 1%,
      rgba(0, 0, 0, .1) 25%,
      rgba(0, 0, 0, .9) 50%);
  height: 100%;
  width: 90%;

  -webkit-animation: 2s linear 0s infinite alternate move_eye2;
          animation: 2s linear 0s infinite  move_eye2;
}


@-webkit-keyframes move_eye2 { from { margin-left: -20%; } to { margin-left: 100%; }  }
        @keyframes move_eye2 { from { margin-left: -20%; } to { margin-left: 100%; }  }

.title3 {
  color: white;
	float:left;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	font-weight:1000;
	text-align:center;
	font-size:35px;
}

.view_port3 {
  background-color: black;
height:100px;
  width: 100%;
  overflow: hidden;
  margin-left:auto;
  margin-right:auto;
border:1px solid white;
	
}



.button-64 {
  align-items: center;
 	background-color: rgba(98, 11, 29, 0.87);
  background-image: linear-gradient(to right,
	  rgba(0, 0, 0, .9) 1%,
      rgba(0, 0, 0, .1) 25%,
      rgba(0, 0, 0, .9) 50%);
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  justify-content: center;
  width:200px;
	height:200px;
  
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
	font-size: 40px;
	font-weight:1000;

	border: 4px solid maroon;
	border-radius:50%;
	padding: 20px;
	cursor: pointer;
	margin-top:50px;
	margin-bottom: 20px;
	margin-left:auto;
	margin-right:auto;
	
	
	text-align:center;
}

.button-64:active,
.button-64:hover {
  outline: 10px;
}

.button-64 span {
  	background-color: rgba(98, 11, 29, 0.87);
  background-image: linear-gradient(to right,
	  rgba(0, 0, 0, .9) 1%,
      rgba(0, 0, 0, .1) 25%,
      rgba(0, 0, 0, .9) 50%);
  padding-top:50px;
	border:1px dotted rgba(98, 11, 29, 0.87);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: 2s;
	justify-content:center;
align-items:center;
	text-align:center;
	text-shadow:7px 1px 2px maroon;
	box-shadow: 1px 1px 10px 10px black;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.text{
	opacity:0.8;
	
}

.button-64:hover span {
 	background-color:white;
	transition:5s;
}
.button-64:focus {

	
}




@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}


.cylon_eye3 {
  background-color: rgba(136,19,21,0.6);
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, .9) 50%);
  height: 100%;
  width: 90%;
	

  -webkit-animation: 2s linear 0s infinite alternate move_eye3;
          animation: 2s linear 10s infinite  move_eye3;
}

@-webkit-keyframes move_eye3 { from { margin-left: -20%; } to { margin-left: 100%; }  }
        @keyframes move_eye3 { from { margin-left: -20%; } to { margin-left: 100%; }  }



.cylon_eye4 {
  background-color: rgba(15,140,53,0.6);
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, .9) 50%);
  height: 100%;
  width: 90%;

  -webkit-animation: 2s linear 0s infinite alternate move_eye;
          animation: 2s linear 10s infinite  move_eye;
}

@-webkit-keyframes move_eye4 { from { margin-left: -20%; } to { margin-left: 100%; }  }
        @keyframes move_eye4 { from { margin-left: -20%; } to { margin-left: 100%; }  }




#logo {
	width:100%;
}

#littleTree {
display:flex;
float:left;
width:100%;
height:100px;

}

footer {
		display:block;
		background-color:rgba(0,0,0,0.0);
		text-align:center;
		width:100%;
		height:90%;
		opacity:0.2;
		color:black;
		border:1px dotted cornsilk;
		float:left;
		
			margin-top:25px;
			text-shadow: 1px 1px 1px white;
			font-weight:500;
		}


.medals {
	width:100%;
	background-color:rgba(0,0,0, 0.1);
	height:145px;
	
	
}


.rewards {
display:flex;
width:33%;
	float:left;

}

#audio{
	opacity:0.8;
	margin-top:25px;
	
}






