@charset "utf-8";
/* CSS Document */

body {
background-color: #2f012b;
font-family: 'Courier New', monospace;
	color:white;
	margin:0px;
	text-align:center;
}
.heading {
	display:block;
	width:100%;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background-color:#4466ab;
	border: 2px solid black;
	height:100px;
	

}
#line{
	background-color:darkslateblue;
	
}

#lifeline{
	font-size:32px;
	color:white;
	border:5px dashed darkslategrey;
	background-color:darkgoldenrod;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	border-radius:90px;
	width:20%;
	
}

#displayScore {
	width:33%;
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
	text-align:center;
	background-color:indigo;
	font-size:30px;
	color:#ffffff;
	border:2px dotted white;
}
#displayTime {
	width:33%;
	text-align:center;
	background-color:gold;
	font-size:30px;
	color:#000000;
	border:2px dotted white;
}
#displayName {
	width:33%;
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
	text-align:center;
	background-color:maroon;
	font-size:30px;
	color:#ffffff;
	border:2px dotted white;
}
#displayWelcome {
	text-align:center;
	background-color:royalblue;
	font-size:45px;
	color:#ffffff;
	border:2px dotted black;
}
#scoreBoard{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	background-color:darkslategrey;
	font-size:30px;
	border:3px dotted maroon;
	
	
}
/* .mainButtons {
	padding:10px;
	background-color:#77bd2a;
	border: 4px solid black;
	border-radius:175px;
	width:25%;
	font-size:28px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	display:block;
	margin-top:50px;
} */

#question{
	margin:50px;
	font-weight: 600;
	font-size:50px;
	padding:20px;
	opacity:0.6;
	
	
}

.answers {
    margin: 20px;
	padding:10px;
}
.normal {
	background-color:black;
}

.choice, .choice2 {
	background-color:#77bd2a;
	opacity:0.7;
	vertical-align: top;
	padding:10px;
	margin:30px;
	font-size:35px;
	cursor:grab;
	width:90%;
	height:90px;
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
	text-align:center;
}

#choices{
	display:inline-block;
	background: black;
	cursor:inherit;
	opacity:0.8;
	width:50%;
	
}

.right {
	background-color: green;
}
.wrong {

	background-color: red;
}

#start {
	font-family: sans-serif;
	font-size: 55px;
	background-color: #297;
	color: #fff;
	border: 4px solid black;
	border-radius:175px;
	padding: 20px;
	cursor: pointer;
	margin-top:50px;
	margin-bottom: 20px;
	margin-left:auto;
	margin-right:auto;
	width:25%;
	
	display:block;
	text-align:center;
}
#start:hover {
	background-color: #3a8;
}
